.pesquisa-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 10vh;
  max-width: 550px;
  margin: 25px 50px;
  background: #fff;
  border-radius: 50px;
}

.pesquisa-container h1{
  line-height: 30px;  
}

.pesquisa-container .pesquisa{
  background: #fff;
  width: 100%;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
}

.pesquisa input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.pesquisa.active input{
  border-radius: 10px 10px 0 0;
}

.pesquisa .sugestoes{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.pesquisa.active .sugestoes{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.sugestoes li{
  list-style: none;
  padding: 16px 24px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.pesquisa.active .sugestoes li{
  display: block;
}
.sugestoes li:hover{
  background: #efefef;
}

.pesquisa .icon{
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #010175;
  cursor: pointer;
}

h1.duvidas {
  margin-top: 150px;
  margin-bottom: 40px;
  padding-inline-start: 80px;
}

.duvida-container {
  width: 50%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
}

.duvida-container:hover {
  background-color: #010175;
  color: white;
}

.duvida-container h2 {
  line-height: 40px;
}